

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.tetry-divider {
    padding-top: 50px
}

.tetry-log {
    min-height: 300;
    max-height: 300;
    overflow-y: scroll;
}














