<!--angles panel-->
<div class="row status-angle">
    <div class="col-xs-3 leg-1">
        <span data="0"></span>
        <span data="1"></span>
        <span data="2"></span>
    </div>
    <div class="col-xs-3 leg-2">
        <span data="3"></span>
        <span data="4"></span>
        <span data="5"></span>
    </div>
    <div class="col-xs-3 leg-3">
        <span data="6"></span>
        <span data="7"></span>
        <span data="8"></span>
    </div>
    <div class="col-xs-3 leg-4">
        <span data="9"></span>
        <span data="10"></span>
        <span data="11"></span>
    </div>
</div>