<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <style>
        body {
        padding-top: 50px;
        padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/main.css">

    <script src="static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tetry robot goes webby</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <!--<form class="navbar-form navbar-right" role="form">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" placeholder="Email" class="form-control">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<input type="password" placeholder="Password" class="form-control">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-success">Sign in</button>-->
            <!--</form>-->
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container tetry-divider">

</div>

<div class="container">

    <div role="tabpanel" class="col-md-6">

        <!--<div class=""-->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs small" role="tablist">
            <li role="presentation"><a href="#moves" aria-controls="moves" class="tetry-command-group" role="tab" data-toggle="tab">Pre-defined moves</a></li>
            <li role="presentation" class="active"><a href="#direction" aria-controls="direction" class="tetry-command-group" role="tab" data-toggle="tab">Move in direction</a></li>
            <li role="presentation"><a href="#shiftbody" aria-controls="shiftbody" class="tetry-command-group" role="tab" data-toggle="tab">Shift body</a></li>
            <li role="presentation"><a href="#tiltbody" aria-controls="tiltbody" class="tetry-command-group" role="tab" data-toggle="tab">Tilt body</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <!-- move pane-->
            <div role="tabpanel" class="tab-pane" id="moves">
                ...1
            </div>
            <!-- direction pane-->
            <div role="tabpanel" class="tab-pane active" id="direction">
                <div class="container tetry-divider"></div>
                <div class="row">
                    <div class="col-xs-12 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="make_step" data="0"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Forward</button></div>
                </div>
                <div class="row vcenter">
                    <div class="col-xs-2 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="make_step" data="270"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Left</button></div>
                    <div class="col-xs-8 text-center"><canvas class="wheel" width="200" height="200" command="make_step"></canvas></div>
                    <div class="col-xs-2 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="make_step" data="90"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Right</button></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="make_step" data="180"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Backward</button></div>
                </div>
            </div>
            <!-- Shift body pane-->
            <div role="tabpanel" class="tab-pane" id="shiftbody">
                <div class="container tetry-divider"></div>
                <div class="row">
                    <div class="col-xs-12 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="shift_body_angle" data="0"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Forward</button></div>
                </div>
                <div class="row vcenter">
                    <div class="col-xs-2 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="shift_body_angle" data="270"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Left</button></div>
                    <div class="col-xs-8 text-center"><canvas class="wheel" width="200" height="200" command="shift_body_angle"></canvas></div>
                    <div class="col-xs-2 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="shift_body_angle" data="90"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Right</button></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="shift_body_angle" data="180"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Backward</button></div>
                </div>
            </div>
            <!--Tilt body pane-->
            <div role="tabpanel" class="tab-pane" id="tiltbody">
                <div class="container tetry-divider"></div>
                <div class="row">
                    <div class="col-xs-12 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="rotate_body" data="0"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Forward</button></div>
                </div>
                <div class="row vcenter">
                    <div class="col-xs-2 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="rotate_body" data="270"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Left</button></div>
                    <div class="col-xs-8 text-center"><canvas class="wheel" width="200" height="200" command="rotate_body"></canvas></div>
                    <div class="col-xs-2 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="rotate_body" data="90"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Right</button></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="rotate_body" data="180"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Backward</button></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container tetry-divider"></div>
<!--
    <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#" class="tetry-command-group" data="moves">Pre-defined moves</a></li>
          <li role="presentation"><a href="#" class="tetry-command-group" data="direction">Move in direction</a></li>
          <li role="presentation"><a href="#" class="tetry-command-group" data="shiftbody">Shift body</a></li>
          <li role="presentation"><a href="#" class="tetry-command-group" data="tiltbody">Tilt body</a></li>
    </ul>
    </div>

    <div class="container tetry-divider"></div>

    <div id="tetry-commands-content">
        <button type="button" class=" hide btn btn-primary btn-lg">Forward</button>
    </div>


    <div class="container tetry-divider"></div>
-->

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Log</h3>
        </div>
        <div class="panel-body">
            <div class="log-container">
                <table class="table tetry-log table-striped">
                </table>
            </div>
        </div>
    </div>
</div>
<hr>

<footer>
    <p>&copy; Roman Milovanov 2014</p>
</footer>
</div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

<script src="static/js/vendor/bootstrap.min.js"></script>

<!--jQuery and plugins-->
<script src="static/js/plugins.js"></script>
<script type="text/javascript" src="static/js/jquery.slimscroll.min.js"></script>
<script src='static/js/jcanvas.min.js'></script>

<!--Tetry script-->
<script src="static/js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
</body>
</html>
