<!--angles panel-->
<div role="tabpanel" class="tab-pane active row status-angle" id="angles">
    <div class="col-xs-6 leg-1">
        <p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
          Leg 1
        </p>
        <span data="0"></span>
        <span data="1"></span>
        <span data="2"></span>
    </div>
    <div class="col-xs-6 leg-2">
        <p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
          Leg 2
        </p>
        <span data="3"></span>
        <span data="4"></span>
        <span data="5"></span>
    </div>
    <div class="col-xs-6 leg-3">
        <p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
          Leg 3
        </p>
        <span data="6"></span>
        <span data="7"></span>
        <span data="8"></span>
    </div>
    <div class="col-xs-6 leg-4">
        <p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
          Leg 4
        </p>
        <span data="9"></span>
        <span data="10"></span>
        <span data="11"></span>
    </div>
</div>