<!-- direction pane-->
<div role="tabpanel" class="tab-pane active" id="direction">
    <div class="container tetry-divider"></div>
    <div class="row">
        <div class="col-xs-12 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="make_step" data="0"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Forward</button></div>
    </div>
    <div class="row vcenter">
        <div class="col-xs-3 text-right"><button type="button" class="btn btn-primary btn-xs tetry-command" command="make_step" data="270"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Left</button></div>
        <div class="col-xs-6 text-center"><canvas class="wheel" width="200" height="200" command="make_step"></canvas></div>
        <div class="col-xs-3 text-left"><button type="button" class="btn btn-primary btn-xs tetry-command" command="make_step" data="90"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Right</button></div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center"><button type="button" class="btn btn-primary btn-xs tetry-command" command="make_step" data="180"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Backward</button></div>
    </div>
</div>

