<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/jquery-ui/jquery-ui.min.css">
    <style>
        body {
        padding-top: 50px;
        padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% include "navbar.html" ignore missing %}

<div class="container tetry-divider"></div>

<div class="container">

    <div role="tabpanel" class="section-left col-md-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs small" role="tablist">
            <li role="presentation"><a href="#moves" aria-controls="moves" class="tetry-command-group" role="tab" data-toggle="tab">Pre-defined moves</a></li>
            <li role="presentation" class="active"><a href="#direction" aria-controls="direction" class="tetry-command-group" role="tab" data-toggle="tab">Move in direction</a></li>
            <li role="presentation"><a href="#shiftbody" aria-controls="shiftbody" class="tetry-command-group" role="tab" data-toggle="tab">Shift body</a></li>
            <li role="presentation"><a href="#tiltbody" aria-controls="tiltbody" class="tetry-command-group" role="tab" data-toggle="tab">Tilt body</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
{% include "moves.html" ignore missing %}
{% include "direction.html" ignore missing %}
{% include "shiftbody.html" ignore missing %}
{% include "tiltbody.html" ignore missing %}
        </div>
    </div>

    <div role="tabpanel" class="section-left col-md-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs small" role="tablist">
            <li role="presentation"><a href="#coordinates" aria-controls="coordinates" class="tetry-command-group" role="tab" data-toggle="tab">Coordinates</a></li>
            <li role="presentation" class="active"><a href="#angles" aria-controls="angles" class="tetry-command-group" role="tab" data-toggle="tab">Servo angles</a></li>
            <li role="presentation"><a href="#d3" aria-controls="d3" class="tetry-command-group" role="tab" data-toggle="tab">3D viewport</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
{% include "coordinates.html" ignore missing %}
{% include "angles.html" ignore missing %}
{% include "3d.html" ignore missing %}
        </div>
    </div>
</div>

<div class="container tetry-divider"></div>
<div class="container">
{% include "log.html" ignore missing %}
</div>
<hr>

<footer>
    <p>&copy; Roman Milovanov 2014</p>
</footer>
</div> <!-- /container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<script src="/js/jquery-ui/jquery-ui.min.js"></script>

<script src="/js/vendor/bootstrap.min.js"></script>

<!--jQuery and plugins-->
<script src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/jquery.slimscroll.min.js"></script>
<script src='/js/jcanvas.min.js'></script>

<!-- autobahn.js -->
<script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>

<!--Tetry script-->
<script src="/js/main_ab_edition.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
</body>
</html>
